@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 30rem;
    height: 15rem;
    padding: 10px;
    border-radius: 13px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
button{
    font-size: 40px;
    padding: 10px;
    border-radius: 13px;
    background-color: rgb(38, 38, 59);
    color: white;
}